# Object file
*.o

# Ada Library Information
*.ali

# Xcode
*.xcworkspace
xcuserdata/
*.xcuserdatad/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
